<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" type="image.png" href="{{url_for('static', filename='Recursos/Imagenes/Icono.ico')}}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Recursos/style.css')}}">
    <script src="{{url_for('static', filename= 'Recursos/funciones.js')}}" defer></script>
    <br><br><br>
    <center><titulo> Weathering </titulo></center>
    <ul>
        <main-header>
            <li><img src="{{url_for('static', filename= 'Recursos/Imagenes/LogoAv.webp')}}" width="55" height="44">
            <li><a href="{{url_for('index')}}"> Inicio </a></li>
        </main-header>
    </ul>
</head>
<body>    
    <main>
        <br>
    <h2>Origen</h2>
    <p>Descripción: {{ datos.clima_origen.descripcion }}</p>
    <p>Temperatura: {{ datos.clima_origen.temperatura }}</p>
    <img src="{{ url_for('static', filename=datos['gif_origen']) }}" alt="Weather GIF Origen" onerror="this.src='{{ url_for('static', filename='Recursos/Imagenes/Default.gif') }}'">
        
    <h2>Destino</h2>
    <p>Descripción: {{ datos.clima_destino.descripcion }}</p>
    <p>Temperatura: {{ datos.clima_destino.temperatura }}</p>
    <img src="{{ url_for('static', filename=datos['gif_destino']) }}" alt="Weather GIF Destino" onerror="this.src='{{ url_for('static', filename='Recursos/Imagenes/Default.gif') }}'">
    </main>
    <footer>
        &copy; Weathering 2024. Todos los derechos reservados.<br>
        Gracias por su preferencia.
    </footer>
</body>
</html>

