<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" type="image.png" href="{{url_for('static', filename='Recursos/Imagenes/Icono.ico')}}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Recursos/style.css')}}">
    <script src="{{url_for('static', filename= 'Recursos/funciones.js')}}" defer></script>
    <br><br><br>
    <center><titulo> Weathering </titulo></center>
    <ul>
        <main-header>
            <li><img src="{{url_for('static', filename= 'Recursos/Imagenes/LogoAv.webp')}}" width="55" height="44">
            <li><a href="{{url_for('index')}}"> Inicio </a></li>
        </main-header>
    </ul>
</head>
<body>    
    <main>
        <br>
    Resultado del Clima <br>
    Origen: {{datos.origen}}<br>
    Destino: {{datos.destino}}<br>
    Latitud Origen: {{datos.origenLatitud}}<br>
    Longitud Origen: {{datos.origenLongitud}}<br>
    Latitud Destino: {{datos.destinoLatitud}}<br>
    Longitud Destino:  {{datos.destinoLongitud}}<br>

    Clima Origen<br>
    Origen: {{datos.origen}}<br>
    Descripción: {{datos.clima_origen.descripcion}}<br>
    Temperatura: {{datos.clima_origen.temperatura}}<br>
    <img src="{{ url_for('static', filename=datos.gif_origen) }}" alt="Clima Origen" onerror="this.src='{{ url_for('static', filename='Recursos/Imagenes/Default.gif') }}'"><br>
    Clima Destino<br>
    Destino: {{datos.destino}}<br>
    Descripción: {{datos.clima_destino.descripcion}}<br>
    Temperatura: {{datos.clima_destino.temperatura}}<br>
    <img src="{{ url_for('static', filename=datos.gif_destino) }}" alt="Clima Destino" onerror="this.src='{{ url_for('static', filename='Recursos/Imagenes/Default.gif') }}'"><br>
    </main>
    <footer>
        &copy; Weathering 2024. Todos los derechos reservados.<br>
        Gracias por su preferencia.
    </footer>
</body>
</html>

