
main-header{
	background: rgb(29, 103, 150);
	height: 45px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

li{
	float: left;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4f5066;
} 

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: #5895ad;
  }

click{
	padding: 5px;
	cursor: pointer;
}

body{
	background: url("./Imagenes/Fondo.jpg") center center no-repeat;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
    background-position: auto;
}

footer{
    position: fixed;
    background: rgb(33, 43, 49);
	height: 45px;
	width: 100%;
	left: 0;
    bottom: 0;
    text-align: center;
    color:#606177;
}

titulo {
    color: rgb(59, 48, 211);
    text-align: center;
    font-size: 50pt;
    text-shadow: 5px 5px 15px #81e9fc;
}

subtitulo{
	color: white;
	text-align: center; 
	font-size: 32pt;
	text-shadow: 5px 5px 15px yellow;
}

txt{
	color: rgb(253, 248, 248);
	text-align: center;
	font-size: 23pt;

}

.boxtitle{
	color: green;
	background: rgba(0, 128, 0, 0.685);
	border: 2px solid black;
	overflow: hidden;
	height: 45px;
	width: 225px;
	display: block;
}

.boxcontent{
	color: green;
	background: rgba(38, 109, 38, 0.781);
	border: 2px solid black;
	overflow: hidden;
	height: 250px;
	width:800px;
	display: inline-block;
}

.boxcontent2{
	color: green;
	background: rgba(38, 109, 38, 0.781);
	border: 2px solid black;
	overflow: hidden;
	height: 400px;
	width:800px;
	display: inline-block;
}